<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>E-Vote</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/Table-With-Search-1.css">
    <link rel="stylesheet" href="/assets/css/Table-With-Search.css">
</head>

<body>
    <!-- Start: Navigation Clean -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#" style="background: url(&quot;/assets/img/Logo-bar.png&quot;) no-repeat;background-size: contain;text-align: justify;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>
            <button
                data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <!-- Start: button_nav_bar_logout --><a class="nav-link" id="button_nav_bar_help" href="#">Ajuda</a>
                            <!-- End: button_nav_bar_logout -->
                        </li>
                        <li class="nav-item">
                            <!-- Start: button_nav_bar_logout --><a class="btn btn-light Logout" role="button" id="button_nav_bar_logout" href="#" style="background: #e32e2e;border-color: rgba(255,255,255,0);border-left-style: none;color: rgb(255,255,255);width: 80px;">Sair<img src="/assets/img/exit-to-app-button.svg" width="16" style="margin-left: 6px;margin-right: -7px;filter: brightness(100%) invert(100%);"></a>
                            <!-- End: button_nav_bar_logout -->
                        </li>
                    </ul>
                </div>
        </div>
    </nav>
    <!-- End: Navigation Clean -->
    <!-- Start: Background -->
    <div style="background: url(&quot;/assets/img/Logo-ufac-opacity.png&quot;) no-repeat, rgba(10,23,55,0);height: 360px;background-position: center;margin-top: 138px;">
        <div>
            <h1 style="font-size: 48px;line-height: 48px;text-align: center;color: #000000;margin-top: 0px;"><strong>Cabine de Votação</strong><br></h1>
            <h4 style="text-align: center;">Seu voto é secreto e criptografado</h4>
        </div>
        <div style="margin-right: 32px;margin-left: 32px;">
            <div class="row">
                <div class="col-auto">
                    <div class="form-group"><span id="span_cabin_vote_choice_election_name" style="font-size: 32px;">election_name</span></div>
                </div>
            </div>
        </div>
        <div style="margin-right: 32px;margin-left: 32px;">
            <div class="row">
                <div class="col-auto">
                    <div class="form-group"><span id="span_cabin_vote_question" style="font-size: 32px;">vote_question</span></div>
                </div>
            </div>
        </div>
        <div style="padding-right: 0;padding-left: 0px;margin-top: 32px;margin-right: 32px;margin-left: 32px;margin-bottom: 64px;"><form style= "font-size: 25px;">
    <div class="form-check" >
      <input class="form-check-input" type="radio" name="electionRadios" id="election_option_1" value="option1" checked>
      <label class="form-check-label" for="election_option_1">
        option 1
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="electionRadios" id="election_option_2" value="option2">
      <label class="form-check-label" for="election_option_2">
        option 2
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="electionRadios" id="election_option_3" value="option3">
      <label class="form-check-label" for="election_option_3">
        option 3
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="electionRadios" id="election_option_4" value="option4">
      <label class="form-check-label" for="election_option_4">
        option 4
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="electionRadios" id="election_option_5" value="option5">
      <label class="form-check-label" for="election_option_5">
        option 5
      </label>
    </div>
    <div class="form-group row" style= "margin-top: 32px;">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Avançar</button>
    </div>
  </div>
</form>

</div>
    </div>
    <!-- End: Background -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/Table-With-Search.js"></script>
</body>

</html>