<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>E-Vote</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/Table-With-Search-1.css">
    <link rel="stylesheet" href="/assets/css/Table-With-Search.css">
</head>

<body>
    <!-- Start: Navigation Clean -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#" style="background: url(&quot;/assets/img/Logo-bar.png&quot;) no-repeat;background-size: contain;text-align: justify;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>
            <button
                data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <!-- Start: button_nav_bar_help --><a class="nav-link" id="button_nav_bar_help" href="#">Ajuda</a>
                            <!-- End: button_nav_bar_help -->
                        </li>
                        <li class="nav-item">
                            <!-- Start: button_nav_bar_logout --><a class="btn btn-light Logout" role="button" id="button_nav_bar_logout" href="#" style="background: #e32e2e;border-color: rgba(255,255,255,0);border-left-style: none;color: rgb(255,255,255);width: 80px;">Sair<img src="/assets/img/exit-to-app-button.svg" width="16" style="margin-left: 6px;margin-right: -7px;filter: brightness(100%) invert(100%);"></a>
                            <!-- End: button_nav_bar_logout -->
                        </li>
                    </ul>
                </div>
        </div>
    </nav>
    <!-- End: Navigation Clean -->
    <!-- Start: Background -->
    <div style="background: url(&quot;/assets/img/Logo-ufac-opacity.png&quot;) no-repeat, rgba(10,23,55,0);height: 360px;background-position: center;margin-top: 64px;margin-bottom: 0px;">
        <div>
            <div style="padding-right: 0;padding-left: 0px;margin-top: 32px;margin-right: 32px;margin-left: 32px;">
                <div class="row">
                    <div class="col-auto">
                        <h2>Apuradores</h2>
                    </div>
                    <div class="col"><a class="d-lg-flex" id="link_election_add_voters_back" href="#">Voltar</a></div>
                </div>
                <div class="row">
                    <div class="col-auto"><span id="span_election_add_voters_election_name" style="font-size: 32px;">election_name</span></div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <p style="margin-top: 32px;">Assim como um uma eleição tradicional, no Helios o papel do apurador é de analisar as cédulas e contabilizar o resultado.<br><br>Por padrão o sistema Helios é o único apurador de toda eleição criada. Contudo, é possível que se
                            retire essa responsabilidade do Helios e cadastre apuradores humanos.<br><br>Nessa tela é possível indicar uma ou mais pessoas como apuradores. Cada uma das pessoas indicadas como apurador receberá um e-mail para que criem
                            seu par de chaves criptográficas e que carreguem sua chave pública para esta eleição.<br><br>Assim que adicionar um apurador, lembre-se de clicar no botão “Enviar e-mail”. O apurador receberá um e-mail alertando que ele deve
                            carregar sua chave para a referida eleição.<br><br>A eleição só poderá ser iniciada, após todos os apuradores carregarem suas chaves criptográficas.<br><br><strong>ATENÇÃO</strong>: Na fase de apuração dos votos só será possível
                            fazer a apuração dos votos depois que todos os apuradores carregarem suas chaves criptográficas. Se um apurador perder sua chave, então não haverá possibilidade de fazer a apuração e todos os votos dos eleitores serão perdidos,
                            sem a possibilidade de recuperação.</p>
                    </div>
                </div>
                <div class="border rounded-circle" style="background: #a4a4a4;height: 3px;opacity: 0.33;margin-bottom: 10px;margin-top: 32px;"></div><form>
    <div class="form-row" >
        
            <div class="form-group col-md-2">

                <button class="btn btn-primary" id="button_election_private" type="button">Adicionar apurador
                </button>

            </div>
           
        <div class="form-group col-md-6">
           <a id="link_election_add_helios_apu" class="stretched-link">Adicionar o Helios como apurador da eleição</a>
        </div>    
    </div>
</form>

                <div class="border rounded-circle" style="background: #a4a4a4;height: 3px;opacity: 0.33;margin-bottom: -80px;margin-top: 0px;"></div>
            </div>
            <!-- Start: Table With Search --><div class="col-md-12 search-table-col">
    <span class="counter pull-right"></span>
    <div class="table-responsive table-bordered table table-hover table-bordered results">
        <table class="table table-bordered table-hover">
            <thead class="bill-header cs">
                <tr>
                    <th id="trs-hd" class="col-lg-1">Apurador</th>
                    <th id="trs-hd" class="col-lg-2"> Código de identificação de chave pública</th>
                    <th id="trs-hd" class="col-lg-3">E-mail</th>
                    <th id="trs-hd" class="col-lg-2">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr class="warning no-result">
                    <td colspan="12"><i class="fa fa-warning"></i>  Sem Resultado !!!</td>
                </tr>
                <tr>
                    <td>#1 apurador</td>
                    <td>id</td>
                    <td>email</td>
                    <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i class="fa fa-envelope-o" style="font-size: 15px;"></i></button><button class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash" style="font-size: 15px;"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
            <!-- End: Table With Search -->
        </div>
    </div>
    <!-- End: Background -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/Table-With-Search.js"></script>
</body>

</html>